<div class="contmovie">
{{#each film}}
  <div class= "picture">
    <img src="{{image}}" alt="">
  </div>
  <div class="description">
    <h1>{{title}} </h1>
    
    <h2>{{this.director}}</h2> 
    {{#each stars}}
    <ul>
    <li>{{this}}</li>
    </ul>
  {{/each}}
  
    <p class="sinopsi">{{description}}</p>
     {{#each showtimes}}
            <span>{{this}} | </span>
    {{/each}}
  </div>
  
  {{/each}}
</div>