<div class="contmovie"> 

  <div class= "picture">
    <img src="{{selMovie.image}}" alt="">
  </div>
  <div class="description">
    <h1>{{selMovie.title}} </h1>
    <h2> Director: {{selMovie.director}}</h2> 
    <h3>Starring with:</h3>
    {{#each selMovie.stars}}
    
    <ul> 
    <li>{{this}}</li>
    </ul>
  {{/each}}
  
    <p class="sinopsi">{{selMovie.description}}</p>
     {{#each selMovie.showtimes}}
            <span>{{this}} | </span>
    {{/each}}
  </div>
  
  
</div>